header {
    font-family: "ui-sans-serif";
    font-size: medium;
}

body.fields {
    vertical-align: center;
    horiz-align: center;
    align-content: center;
    align-self: center;
    align-items: center;
}
